In [38]:
#importing pandas and munpy libraries
import pandas as pd
import numpy as np

In [39]:
#loading the given dataset into a dataframe df
df = pd.read_csv("house_data.csv")

In [40]:
#displaying the dimnsions of datset
df.shape

(21607, 8)

In [41]:
#displaying the first five rows of dataset
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [42]:
#basic information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21607 entries, 0 to 21606
Data columns (total 8 columns):
id             99 non-null float64
date           99 non-null object
price          99 non-null float64
bedrooms       99 non-null float64
bathrooms      99 non-null float64
sqft_living    99 non-null float64
sqft_lot       99 non-null float64
floors         99 non-null float64
dtypes: float64(7), object(1)
memory usage: 1.3+ MB

In [43]:
#statistical information of dataset
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
count,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,4.664620e+09,5.200763e+05,3.404040,1.989899,2086.383838,11478.818182,1.464646
std,2.935212e+09,3.061939e+05,0.794358,0.729236,864.592421,14655.249813,0.511363
min,1.600040e+07,1.530000e+05,2.000000,1.000000,770.000000,1044.000000,1.000000
25%,1.914950e+09,3.070000e+05,3.000000,1.500000,1410.000000,5000.000000,1.000000
50%,4.036801e+09,4.300000e+05,3.000000,2.000000,1900.000000,6720.000000,1.500000
75%,7.337325e+09,6.562500e+05,4.000000,2.500000,2570.000000,9823.000000,2.000000
max,9.822700e+09,2.000000e+06,5.000000,4.500000,5420.000000,101930.000000,3.000000

In [44]:
#checking for number of missing values
df.isnull().sum()

id             21508
date           21508
price          21508
bedrooms       21508
bathrooms      21508
sqft_living    21508
sqft_lot       21508
floors         21508
dtype: int64

In [45]:
#dropping the rows containing null values
df = df.dropna()

In [46]:
#checking for null values again
df.isnull().sum()

id             0
date           0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
dtype: int64

In [47]:
#displaying the columns of dataset
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors'],
      dtype='object')

In [48]:
#replacing the index numbers with ids
df.set_index("id", inplace = True)

In [49]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
id,,,,,,,
7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [50]:
#rename sqft_living and sqft_lot column name
df.rename(columns = {"sqft_living" : "living", "sqft_lot" : "lot"}, inplace = True)

In [51]:
#displaying price colummn
df.price 
#df["price"] can also be used

id
7.129301e+09     221900.0
6.414100e+09     538000.0
5.631500e+09     180000.0
2.487201e+09     604000.0
1.954401e+09     510000.0
7.237550e+09    1230000.0
1.321400e+09     257500.0
2.008000e+09     291850.0
2.414600e+09     229500.0
3.793500e+09     323000.0
1.736801e+09     662500.0
9.212900e+09     468000.0
1.141015e+08     310000.0
6.054650e+09     400000.0
1.175001e+09     530000.0
9.297300e+09     650000.0
1.875500e+09     395000.0
6.865200e+09     485000.0
1.600040e+07     189000.0
7.983200e+09     230000.0
6.300501e+09     385000.0
2.524049e+09    2000000.0
7.137970e+09     285000.0
8.091400e+09     252700.0
3.814700e+09     329000.0
1.202000e+09     233000.0
1.794500e+09     937000.0
3.303700e+09     667000.0
5.101402e+09     438000.0
1.873100e+09     719000.0
                  ...
1.802000e+09    1330000.0
1.525059e+09    1040000.0
1.049000e+09     325000.0
8.820901e+09     571000.0
5.416510e+09     360000.0
3.444100e+09     349000.0
3.276920e+09     832500.0
4.036801e+09     380000.0
2.391600e+09     480000.0
6.300000e+09     410000.0
1.531000e+09     720000.0
5.104520e+09     390000.0
7.437100e+09     360000.0
9.418400e+09     355000.0
1.523059e+09     356000.0
1.133001e+09     315000.0
4.232903e+09     940000.0
2.599001e+09     305000.0
3.342103e+09     461000.0
1.332700e+09     215000.0
3.869900e+09     335000.0
2.791500e+09     243500.0
5.036300e+09    1100000.0
4.168000e+09     153000.0
6.021502e+09     430000.0
6.021502e+09     700000.0
1.483301e+09     905000.0
3.422049e+09     247500.0
1.099611e+09     199000.0
7.220791e+08     314000.0
Name: price, Length: 99, dtype: float64

In [52]:
#determining the unique values of bathrooms column
df.bathrooms.unique()

array([1.  , 2.25, 3.  , 2.  , 4.5 , 1.5 , 2.5 , 1.75, 2.75, 3.25, 4.  ])

In [53]:
#finding mean of living column
df.living.mean()

2086.3838383838383

In [54]:
#finding max value of floors column
df.floors.max()

3.0

In [55]:
#displaying only price, bedrooms, and living columns
df[['price','bedrooms','living']]

                  price  bedrooms  living
id
7.129301e+09   221900.0       3.0  1180.0
6.414100e+09   538000.0       3.0  2570.0
5.631500e+09   180000.0       2.0   770.0
2.487201e+09   604000.0       4.0  1960.0
1.954401e+09   510000.0       3.0  1680.0
7.237550e+09  1230000.0       4.0  5420.0
1.321400e+09   257500.0       3.0  1715.0
2.008000e+09   291850.0       3.0  1060.0
2.414600e+09   229500.0       3.0  1780.0
3.793500e+09   323000.0       3.0  1890.0
1.736801e+09   662500.0       3.0  3560.0
9.212900e+09   468000.0       2.0  1160.0
1.141015e+08   310000.0       3.0  1430.0
6.054650e+09   400000.0       3.0  1370.0
1.175001e+09   530000.0       5.0  1810.0
9.297300e+09   650000.0       4.0  2950.0
1.875500e+09   395000.0       3.0  1890.0
6.865200e+09   485000.0       4.0  1600.0
1.600040e+07   189000.0       2.0  1200.0
7.983200e+09   230000.0       3.0  1250.0
6.300501e+09   385000.0       4.0  1620.0
2.524049e+09  2000000.0       3.0  3050.0
7.137970e+09   285000.0       5.0  2270.0
8.091400e+09   252700.0       2.0  1070.0
3.814700e+09   329000.0       3.0  2450.0
1.202000e+09   233000.0       3.0  1710.0
1.794500e+09   937000.0       3.0  2450.0
3.303700e+09   667000.0       3.0  1400.0
5.101402e+09   438000.0       3.0  1520.0
1.873100e+09   719000.0       4.0  2570.0
...                 ...       ...     ...
1.802000e+09  1330000.0       5.0  3200.0
1.525059e+09  1040000.0       5.0  4770.0
1.049000e+09   325000.0       3.0  1260.0
8.820901e+09   571000.0       4.0  2750.0
5.416510e+09   360000.0       4.0  2380.0
3.444100e+09   349000.0       3.0  1790.0
3.276920e+09   832500.0       4.0  3430.0
4.036801e+09   380000.0       4.0  1760.0
2.391600e+09   480000.0       3.0  1040.0
6.300000e+09   410000.0       3.0  1410.0
1.531000e+09   720000.0       4.0  3450.0
5.104520e+09   390000.0       3.0  2350.0
7.437100e+09   360000.0       4.0  1900.0
9.418400e+09   355000.0       2.0  2020.0
1.523059e+09   356000.0       3.0  1680.0
1.133001e+09   315000.0       3.0   960.0
4.232903e+09   940000.0       3.0  2140.0
2.599001e+09   305000.0       5.0  2660.0
3.342103e+09   461000.0       3.0  2770.0
1.332700e+09   215000.0       2.0  1610.0
3.869900e+09   335000.0       2.0  1030.0
2.791500e+09   243500.0       4.0  1980.0
5.036300e+09  1100000.0       5.0  3520.0
4.168000e+09   153000.0       3.0  1200.0
6.021502e+09   430000.0       3.0  1580.0
6.021502e+09   700000.0       3.0  1580.0
1.483301e+09   905000.0       4.0  3300.0
3.422049e+09   247500.0       3.0  1960.0
1.099611e+09   199000.0       4.0  1160.0
7.220791e+08   314000.0       3.0  1810.0

[99 rows x 3 columns]

In [59]:
#one-hot encoding of the bedroos column
dummies = pd.get_dummies(df.bedrooms)

In [61]:
dummies.head()

              2.0  3.0  4.0  5.0
id
7.129301e+09    0    1    0    0
6.414100e+09    0    1    0    0
5.631500e+09    1    0    0    0
2.487201e+09    0    0    1    0
1.954401e+09    0    1    0    0

In [60]:
#concatenation of two dataframes df and dummies
df = pd.concat([df,dummies],axis='columns')

In [62]:
df.head()

,date,price,bedrooms,bathrooms,living,lot,floors,2.0,3.0,4.0,5.0
id,,,,,,,,,,,
7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,1,0,0
6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,1,0,0
5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,1,0,0,0
2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,0,1,0
1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,1,0,0

In [63]:
#dropping the unwanted bedroom column
df.drop(["bedrooms"], axis='columns', inplace= True)

In [64]:
df.head()

,date,price,bathrooms,living,lot,floors,2.0,3.0,4.0,5.0
id,,,,,,,,,,
7.129301e+09,20141013T000000,221900.0,1.00,1180.0,5650.0,1.0,0,1,0,0
6.414100e+09,20141209T000000,538000.0,2.25,2570.0,7242.0,2.0,0,1,0,0
5.631500e+09,20150225T000000,180000.0,1.00,770.0,10000.0,1.0,1,0,0,0
2.487201e+09,20141209T000000,604000.0,3.00,1960.0,5000.0,1.0,0,0,1,0
1.954401e+09,20150218T000000,510000.0,2.00,1680.0,8080.0,1.0,0,1,0,0

In [69]:
df.rename(columns = {2.0:"2_BHK", 3.0:"3_BHK", 4.0:"4_BHK", 5.0:"5_BHK"}, inplace = True)

In [70]:
df.head()

,date,price,bathrooms,living,lot,floors,2_BHK,3_BHK,4_BHK,5_BHK
id,,,,,,,,,,
7.129301e+09,20141013T000000,221900.0,1.00,1180.0,5650.0,1.0,0,1,0,0
6.414100e+09,20141209T000000,538000.0,2.25,2570.0,7242.0,2.0,0,1,0,0
5.631500e+09,20150225T000000,180000.0,1.00,770.0,10000.0,1.0,1,0,0,0
2.487201e+09,20141209T000000,604000.0,3.00,1960.0,5000.0,1.0,0,0,1,0
1.954401e+09,20150218T000000,510000.0,2.00,1680.0,8080.0,1.0,0,1,0,0

In [71]:
#making a copy of the dataframe and splitting the data using pandas
df1 = df.copy()
train = df1.sample(frac=0.75, random_state=1)  #75% training data
test = df1.drop(train.index)  #25% testing data

In [72]:
#diplaying training data
train

,date,price,bathrooms,living,lot,floors,2_BHK,3_BHK,4_BHK,5_BHK
id,,,,,,,,,,
4.168000e+09,20150226T000000,153000.0,1.00,1200.0,10500.0,1.0,0,1,0,0
1.523059e+09,20150128T000000,356000.0,1.50,1680.0,8712.0,1.0,0,1,0,0
4.610004e+08,20140624T000000,687500.0,1.75,2330.0,5000.0,1.5,0,0,1,0
5.104520e+09,20141202T000000,390000.0,2.50,2350.0,5100.0,2.0,0,1,0,0
6.300000e+09,20140609T000000,410000.0,1.00,1410.0,5060.0,1.0,0,1,0,0
6.865200e+09,20140529T000000,485000.0,1.00,1600.0,4300.0,1.5,0,0,1,0
9.547205e+09,20140613T000000,696000.0,2.50,2300.0,3060.0,1.5,0,1,0,0
7.437100e+09,20141222T000000,360000.0,2.50,1900.0,5889.0,2.0,0,0,1,0
1.332700e+09,20140519T000000,215000.0,2.25,1610.0,2040.0,2.0,1,0,0,0
5.036300e+09,20150311T000000,1100000.0,2.75,3520.0,6353.0,2.0,0,0,0,1
8.035350e+09,20140718T000000,488000.0,2.50,3160.0,13603.0,2.0,0,1,0,0
7.589200e+09,20141110T000000,535000.0,1.00,1090.0,3000.0,1.5,0,1,0,0
4.217401e+09,20150303T000000,920000.0,2.25,2730.0,6000.0,1.5,0,0,0,1
2.391600e+09,20150420T000000,480000.0,1.00,1040.0,5060.0,1.0,0,1,0,0
5.072410e+09,20141021T000000,505000.0,1.75,2519.0,8690.0,2.0,0,1,0,0
2.426039e+09,20141201T000000,280000.0,1.50,1190.0,1265.0,3.0,1,0,0,0
7.922800e+09,20140827T000000,951000.0,3.25,3250.0,14342.0,2.0,0,0,0,1
9.215400e+09,20150428T000000,450000.0,1.75,1250.0,5963.0,1.0,0,1,0,0
3.342103e+09,20140618T000000,461000.0,3.25,2770.0,6278.0,2.0,0,1,0,0
1.736801e+09,20150403T000000,662500.0,2.50,3560.0,9796.0,1.0,0,1,0,0
5.631500e+09,20150225T000000,180000.0,1.00,770.0,10000.0,1.0,1,0,0,0
1.432701e+09,20140729T000000,309000.0,1.00,1280.0,9656.0,1.0,0,1,0,0
8.079040e+09,20150223T000000,430000.0,3.00,1850.0,9976.0,2.0,0,0,1,0
9.822700e+09,20140512T000000,885000.0,2.50,2830.0,5000.0,2.0,0,0,1,0
7.983200e+09,20150424T000000,230000.0,1.00,1250.0,9774.0,1.0,0,1,0,0
7.895500e+09,20150213T000000,240000.0,1.00,1220.0,8075.0,1.0,0,0,1,0
6.021502e+09,20140725T000000,430000.0,1.50,1580.0,5000.0,1.0,0,1,0,0
3.303700e+09,20141201T000000,667000.0,1.00,1400.0,1581.0,1.5,0,1,0,0
5.547700e+09,20140715T000000,625000.0,2.50,2570.0,5520.0,2.0,0,0,1,0
7.220791e+08,20140711T000000,314000.0,1.75,1810.0,41800.0,1.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
7.766200e+09,20140811T000000,775000.0,2.25,4220.0,24186.0,1.0,0,0,1,0
2.791500e+09,20140522T000000,243500.0,2.50,1980.0,7403.0,2.0,0,0,1,0
1.794500e+09,20140626T000000,937000.0,1.75,2450.0,2691.0,2.0,0,1,0,0
1.099611e+09,20140912T000000,199000.0,1.50,1160.0,6400.0,1.0,0,0,1,0
9.270200e+09,20141028T000000,685000.0,1.00,1570.0,2280.0,2.0,0,1,0,0
3.626039e+09,20150205T000000,585000.0,1.75,1980.0,8550.0,1.0,1,0,0,0
3.814700e+09,20141120T000000,329000.0,2.25,2450.0,6500.0,2.0,0,1,0,0
1.954401e+09,20150218T000000,510000.0,2.00,1680.0,8080.0,1.0,0,1,0,0
9.478501e+09,20140819T000000,292500.0,2.50,2250.0,4495.0,2.0,0,0,1,0
8.220391e+08,20150311T000000,1350000.0,2.50,2753.0,65005.0,1.0,0,1,0,0
2.524049e+09,20140826T000000,2000000.0,2.75,3050.0,44867.0,1.0,0,1,0,0
2.599001e+09,20141103T000000,305000.0,2.25,2660.0,8400.0,1.5,0,0,0,1
2.487201e+09,20141209T000000,604000.0,3.00,1960.0,5000.0,1.0,0,0,1,0
5.416510e+09,20140710T000000,360000.0,2.50,2380.0,5000.0,2.0,0,0,1,0
8.562750e+09,20141110T000000,580500.0,2.50,2320.0,3980.0,2.0,0,1,0,0
3.253500e+09,20141120T000000,317625.0,2.75,2770.0,3809.0,1.5,0,1,0,0
1.802000e+09,20140612T000000,1330000.0,2.25,3200.0,20158.0,1.0,0,0,0,1
7.203220e+09,20140707T000000,861990.0,2.75,3595.0,5639.0,2.0,0,0,0,1
4.178300e+09,20140716T000000,785000.0,2.50,2290.0,13416.0,2.0,0,0,1,0
7.231300e+09,20150217T000000,345000.0,2.50,3150.0,9134.0,1.0,0,0,0,1
6.021502e+09,20141223T000000,700000.0,1.50,1580.0,5000.0,1.0,0,1,0,0
2.414600e+09,20150415T000000,229500.0,1.00,1780.0,7470.0,1.0,0,1,0,0
1.516000e+09,20141210T000000,650000.0,2.25,2150.0,21235.0,1.0,0,1,0,0
7.129301e+09,20141013T000000,221900.0,1.00,1180.0,5650.0,1.0,0,1,0,0
3.869900e+09,20140904T000000,335000.0,1.75,1030.0,1066.0,2.0,1,0,0,0
2.799801e+09,20150407T000000,301000.0,2.50,2420.0,4750.0,2.0,0,1,0,0
7.137970e+09,20140703T000000,285000.0,2.50,2270.0,6300.0,2.0,0,0,0,1
9.558200e+09,20140828T000000,289000.0,1.75,1260.0,8400.0,1.0,0,1,0,0
9.528103e+09,20141207T000000,549000.0,1.75,1540.0,1044.0,3.0,0,1,0,0
2.008000e+09,20150115T000000,291850.0,1.50,1060.0,9711.0,1.0,0,1,0,0

In [73]:
#displaying test data
test

,date,price,bathrooms,living,lot,floors,2_BHK,3_BHK,4_BHK,5_BHK
id,,,,,,,,,,
6.414100e+09,20141209T000000,538000.0,2.25,2570.0,7242.0,2.0,0,1,0,0
7.237550e+09,20140512T000000,1230000.0,4.50,5420.0,101930.0,1.0,0,0,1,0
1.321400e+09,20140627T000000,257500.0,2.25,1715.0,6819.0,2.0,0,1,0,0
3.793500e+09,20150312T000000,323000.0,2.50,1890.0,6560.0,2.0,0,1,0,0
9.212900e+09,20140527T000000,468000.0,1.00,1160.0,6000.0,1.0,1,0,0,0
1.141015e+08,20140528T000000,310000.0,1.00,1430.0,19901.0,1.5,0,1,0,0
6.054650e+09,20141007T000000,400000.0,1.75,1370.0,9680.0,1.0,0,1,0,0
1.175001e+09,20150312T000000,530000.0,2.00,1810.0,4850.0,1.5,0,0,0,1
1.875500e+09,20140731T000000,395000.0,2.00,1890.0,14040.0,2.0,0,1,0,0
1.600040e+07,20141205T000000,189000.0,1.00,1200.0,9850.0,1.0,1,0,0,0
6.300501e+09,20140514T000000,385000.0,1.75,1620.0,4980.0,1.0,0,0,1,0
1.202000e+09,20141103T000000,233000.0,2.00,1710.0,4697.0,1.5,0,1,0,0
5.101402e+09,20140624T000000,438000.0,1.75,1520.0,6380.0,1.0,0,1,0,0
1.873100e+09,20150302T000000,719000.0,2.50,2570.0,7173.0,2.0,0,0,1,0
2.768000e+09,20141230T000000,640000.0,2.00,2360.0,6000.0,2.0,0,0,1,0
5.245600e+09,20140916T000000,228000.0,1.00,1190.0,9199.0,1.0,0,1,0,0
1.189001e+09,20140603T000000,425000.0,2.25,1660.0,6000.0,1.0,0,1,0,0
1.274500e+09,20140825T000000,204000.0,1.00,1000.0,12070.0,1.0,0,1,0,0
1.049000e+09,20150105T000000,325000.0,2.00,1260.0,5612.0,1.0,0,1,0,0
8.820901e+09,20140610T000000,571000.0,2.00,2750.0,7807.0,1.5,0,0,1,0
3.276920e+09,20141105T000000,832500.0,4.00,3430.0,35102.0,2.0,0,0,1,0
4.036801e+09,20141013T000000,380000.0,1.75,1760.0,7300.0,1.0,0,0,1,0
1.531000e+09,20150323T000000,720000.0,2.50,3450.0,39683.0,2.0,0,0,1,0
1.133001e+09,20140602T000000,315000.0,1.00,960.0,6634.0,1.0,0,1,0,0
1.483301e+09,20140908T000000,905000.0,2.50,3300.0,10250.0,1.0,0,0,1,0